<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Project</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="events" class="nav-link">Events</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-event" class="nav-link">Add Event</a>
      </li>
      <li class="nav-item">
        <a routerLink="reservations" class="nav-link">Reservations</a>
      </li>
      <li class="nav-item">
        <a routerLink="add-reservation" class="nav-link">Add Reservation</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
